@import url(color.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

body {
  #help {
    position: absolute;
    top: 25%;

    // background-color: var(--blue-yonder);
    backdrop-filter: blur(30px);

    padding: 2em;

    max-height: 500px;
    max-width: 500px;
    min-width: 500px;
    min-height: 500px;

    overflow: scroll;
    color: black;


    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--dark-liver);
    }

    text-align: center;

    .items {
      display: grid;

      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1em;
    }
  }
}
