@import url(color.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
.logo {
  width: 10%;
  height: auto;
}

.hidden {
  display: none;
}

button {
  display: none;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--dark-liver);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}
button:hover {
  background-color: var(--black-bean);
}

.blur {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-image: url("url_de_votre_image.jpg");
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 1em 3em 0em 3em;
}
body header {
  z-index: -1;
}
body main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
body main ._1 nav {
  position: absolute;
  z-index: -1;
}
body main ._1 nav ul p {
  margin-bottom: 0.6em;
}
body main ._1 nav ul form {
  margin-top: 0.2em;
}
body main ._2 {
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
body main ._2 h2 {
  font-size: 10em;
  flex-basis: 50%;
}
body main ._2 h3 {
  font-size: 1.3em;
  background-color: #989595;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 80px 10px 80px;
  position: relative;
  top: -5%;
}
body main ._2 form input {
  text-align: center;
  border-radius: 25px;
  font-size: 1em;
  padding: 1em;
}
body main ._2 form div {
  margin-bottom: 2em;
}
body main ._2 form div#toast {
  position: absolute;
}
body main ._2 form div#toast p {
  width: 300px;
  border-radius: 25px;
  position: relative;
  left: -3.5em;
  background-color: wheat;
  color: black;
  padding: 1em;
}
body main ._3 {
  justify-self: right;
}
body main ._3 .helpSpawner {
  z-index: 99;
  position: absolute;
  right: 5em;
  max-height: 500px;
  overflow-y: scroll;
}
body main ._3 .helpSpawner::-webkit-scrollbar {
  width: 5px;
}
body main ._3 .helpSpawner::-webkit-scrollbar-thumb {
  background: var(--dark-liver);
}
body main ._3 .helpSpawner .helpContainer {
  margin-right: 0.5em;
  margin-left: 6.5em;
  position: relative;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(7, 1fr);
  background-image: url("url_de_votre_image.jpg");
  z-index: 99;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
body main ._3 .helpSpawner .helpContainer li {
  padding: 1em;
  border: dotted 1px white;
}
body main ._3 .helpSpawner .helpContainer li p {
  line-height: 1.5em;
  text-align: center;
}
body main ._3 a.helpClose {
  position: relative;
  z-index: 999;
}
body footer {
  position: relative;
  z-index: -1;
  margin: 3em 0 0em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body footer div {
  display: flex;
  flex-direction: row;
}
body footer div p {
  margin: 0 1em 0 1em;
}/*# sourceMappingURL=index.css.map */