@import url(color.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

.logo {
  width: 10%;
  height: auto;
}

.hidden {
  display: none;
}

button {
  display: none;

  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--dark-liver);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;

  & hover {
    background-color: var(--black-bean);
  }
}

body {
  display: flex;
  flex-direction: column;

  padding: 1em 3em 0em 3em;

  main {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);

    grid-column-gap: 10px;
    grid-row-gap: 10px;

    ._1 {
      nav {
        ul {
          p {
            margin-bottom: 0.6em;
          }

          form {
            margin-top: 0.2em;
          }
        }
      }
    }

    ._2 {
      margin-top: 2em;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;

      text-align: center;

      h2 {
        font-size: 10em;
        flex-basis: 50%;
      }

      h3 {
        font-size: 1.3em;
        position: absolute;
        top: 63%;

        background-color: #989595;
        color: #fff;
        text-align: center;

        border-radius: 6px;
        padding: 10px 80px 10px 80px;
      }

      form {
        input {
          text-align: center;
          border-radius: 25px;
          font-size: 1em;
          padding: 1em;
        }

        div {
          margin-bottom: 2em;

          &#toast {
            position: absolute;

            p {
              width: 300px;

              border-radius: 25px;
              position: relative;
              left: -3.5em;
              background-color: wheat;
              color: black;
              padding: 1em;
            }
          }
        }
      }
    }

    ._3 {
      justify-self: right;
      display: flex;
      flex-direction: row;

      .helpSpawner {
        z-index: 99;

        position: absolute;
        right: 5em;

        max-height: 500px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--dark-liver);
        }

        .helpContainer {
          margin-right: 0.5em;
          position: relative;
          display: grid;
          gap: 0.5em;
          grid-template-columns: repeat(7, 1fr);

          background-image: url("url_de_votre_image.jpg"); /* Remplacez par l'URL de votre image */
          z-index: 99;
          backdrop-filter: blur(
            5px
          ); /* Ajustez le niveau de flou selon vos préférences */

          li {
            padding: 1em;
            border: dotted 1px white;

            p {
              line-height: 1.5em;
              text-align: center;
            }
          }
        }
      }
    }
  }

  footer {
    margin: 5em 0 2em 0;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: row;

      p {
        margin: 0 1em 0 1em;
      }
    }
  }
}
