header {
  display: flex;
  padding: 1rem;
  background-color: #f4f4f4;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: inline-flex;

    img {
      margin-right: 0.5em;
    }

    h1 {
      font-size: 2em;
      padding: 0;
      font-weight: 600;
    }
  }

  .nav {
    margin-left: auto;
    display: flex;
    gap: 1em;
    margin-right: 1rem;
    font-weight: 600;

    a {
      text-decoration: none;
      color: #333;
    }
  }

  .auth {

  }
}

.btn {
  display: inline-block; /* Permet au bouton de se comporter comme un élément en ligne avec les propriétés de bloc */
  padding: 0.5rem 1rem; /* Espacement interne du bouton */
  font-size: 1rem; /* Taille de la police */
  font-weight: 900; /* Police en gras */
  text-align: center; /* Centrage du texte */
  text-decoration: none; /* Retirer la décoration du texte (souligné) */
  color: #fff; /* Couleur du texte */
  background-color: #007bff; /* Couleur de fond */
  border: none; /* Supprimer la bordure */
  border-radius: 0.5rem; /* Bordures arrondies */
  cursor: pointer; /* Curseur en forme de main au survol */
  transition: background-color 0.3s, transform 0.2s; /* Transition fluide pour les changements de couleur et d'échelle */

  &.desable {
    background-color: #424242; /* Couleur de fond au survol */
  }

  &.unset {
    background-color: hsl(0, 0%, 71%); /* Couleur de fond au survol */
  }

  &:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
  }

  &:active {
    transform: scale(0.95); /* Réduire légèrement la taille du bouton au clic */
  }
}

main {
  margin: 0em 20% 0em 20%;

  section {
    margin-top: 2em;

    h2 {
      font-size: 2em;
    }

    div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
      gap: 1rem;

      div {
        display: flex;
        flex: 1;
        gap: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #dbe1e6;
        background-color: #ffffff;
        padding: 1rem;
        flex-direction: column;

        img {
          border-radius: 1rem; /* Bordures arrondies */
        }
      }
    }

    &.hero {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.1) 0%,
          rgba(0, 0, 0, 0.4) 100%
        ),
        url(https://cdn.usegalileo.ai/stability/e23d78ee-aa5e-41bb-a5e1-93561d07c586.png);

      background-repeat: no-repeat;
      background-position: center;

      padding: 1rem;
      min-height: 500px;

      display: flex;
      align-items: stretch;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      flex-wrap: nowrap;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        &.hero-text {
          text-align: center;
          color: #fff;

          h1 {
            color: white; /* Text color */
            font-size: 4rem; /* Font size for large screens */
            font-weight: 900; /* Black weight for boldness */
            line-height: 1.1; /* Tight line height */
          }

          h2 {
            font-weight: 400; /* Normal font weight */
            font-size: 1rem; /* Slightly larger font size on smaller screens */
          }
        }

        &.search-container {
          margin-top: 1em;
          display: flex;
          flex-direction: row;

          background-color: #ffffff;
          border-radius: 10px;
          padding: 5px;

          border: solid 1px #212121;

          .search-icon {
            border: none;
            background-color: transparent;
            padding: 0.5rem 0 0.5rem 0;
          }

          .search-input {
            flex-grow: 1;
            border: none;
            background-color: transparent;
            color: black;
            outline: none;
          }
        }
      }
    }
  }
}
