@media only screen and (max-width: 900px) {
    html {
        font-size: 14px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        zoom: 90%;
    }

    .author{
      display: none;
    }

    .git{
      display: none;
    }

    .score, .iconscore {
      text-align: right;
      color: #b7b8b9;
      
      letter-spacing: 0.2rem;
      font-weight: 400;
      position: absolute;
      top: 10%;
      right: 10%;

      text-align: right;
      align-items: center;
      z-index: -999;
    }

    .sc {
      font-weight: 500;
      font-size: 0.75rem;
      letter-spacing: 0.1rem;
      margin-bottom: 0.5rem;
      display: block;
      color: #000;

      align-items: center;
      text-align: right;
    }

    .iconscore, .material-icons-round span{
      display: none !important;
    }

    .twitter-share{
      display: none;
    }

    .help {
      display: none;
    }

    .input{
      max-width: 200px;
    }

    .logo{
      position: absolute;
      top: 5px;
      width: 100px;
      height: auto;
    
      padding-left: 0px;
      padding-top: 50px;
    }

    #notification {
      position: fixed;
      bottom: 33%;
      z-index: 99999;
  }
}