// Media Query pour les écrans de petite taille (max-width: 768px)
@media only screen and (max-width: 768px) {
  header {
    text-align: center;
    margin-bottom: 1em;
  }

  // Styles globaux
  body {
    // Styles de la section principale
    main {
      grid-template-columns: 1fr;

      // Styles de la première section
      ._1 {
        order: 3;
        margin: 0 auto; /* This centers the text horizontally */
        max-width: 500px;
        nav {
          position: inherit;
          text-align: justify;
        }
      }

      // Styles de la deuxième section
      ._2 {
        div {
          &.keyboard {
            display: none; // Ajout pour cacher le clavier en version mobile
          }
        }
      }

      // Styles de la troisième section
      ._3 {
        order: -1;

        .helpSpawner {
          right: 4em;
          top: 11em;
          max-height: 700px;

          .helpContainer {
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }

    // Styles du pied de page
    footer {
      position: inherit;
      margin-bottom: 2em;
    }
  }
}
