@import url(color.css);

/* Styles pour mobile */
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .logo {
      width: 80%;
      height: auto;
    }

    h1 {
      display: none;
    }

    button {
      display: inline-block;
      margin: 0 0 1em 0;

      i {
        margin: 0 0 0 1em;
      }
    }
  }

  body {
    align-items: center;

    main {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 10px;

      ._1 {
        nav {
          text-align: left;
        }
      }

      ._2 {
        margin: 0;
        font-size: 1.2em;

        h3 {
          top: 60%;
        }

        div {
          &.keyboard {
            display: none;
          }

          &.score {
            margin-top: 3em;
          }
        }

        form {
          div {
            &#toast {
              p {
                top: -0.1em;
                left: -2.3em;
              }
            }
          }
        }

        h2 {
          font-size: 8em; /* Taille de police réduite */
        }
      }

      ._3 {
        .helpOpen {
          // color: red;
          position: relative;
          right: 2em;
          top: -25em;
        }

        .helpClose {
          // color: red;
          position: relative;
          right: 2em;
          top: -25em;
        }

        .helpSpawner {
          position: absolute;
          top: 55%;
          left: 13%;
          right: 10%;

          max-height: 250px;

          .helpContainer {
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }

    footer {
      margin: 2em 0 2em 0;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      div {
        &.author {
          display: none;
        }
        display: flex;
        flex-direction: row;

        p {
          margin: 0 1em 0 1em;
        }
      }
    }
  }
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
  body {
    header {
      max-height: 290px;
      .logo {
        width: 7%;
        height: auto;
      }
    }
    main {
      ._2 {
        h3 {
          top: 63%;
        }
      }
    }
  }
}
