@import url(color.css);

/* Styles pour mobile */
@media screen and (max-width: 768px) {
  body {
    align-items: center;

    main {
      grid-template-columns: 1fr; /* Une seule colonne pour les appareils mobiles */
      grid-template-rows: auto; /* Ajustement automatique des lignes */
      grid-column-gap: 0; /* Pas besoin d'espacement entre les colonnes */
      grid-row-gap: 10px;

      ._1 {
        nav {
          text-align: left;
        }
      }

      ._2 {
        font-size: 1.2em;

        form {
          div {
            &#toast {
              p {
                top: -0.1em;
                left: -2.3em;
              }
            }
          }
        }

        h2 {
          font-size: 8em; /* Taille de police réduite */
        }
      }

      // ._3 {
      //   .helpOpen{
      //     color: red;
      //     position: relative;
      //     right: 2em;
      //     top: -25em;
      //   }

      //   .helpClose{
      //     color: red;
      //     position: relative;
      //     right: 2em;
      //     top: -25em;
      //   }

      //   .helpSpawner {
      //     right: 1em; /* Position ajustée vers la droite */

      //     .helpContainer {
      //       grid-template-columns: repeat(
      //         3,
      //         1fr
      //       ); /* Moins de colonnes pour les éléments d'aide */
      //     }
      //   }
      // }
    }
  }
}
