.color{
    color: #CF5785;
    color: #A55BD9;
    color: #5C6BC2;
    color: #5BC8D9;
    color: #84D1A0;
}

.color2{
    color: #F991BC;
    color: #B47FDB;
    color: #99A7F1;
    color: #7FD1DB;
    color: #C6FBD8;
}