html {
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  zoom: 125%;
}

body {
  overflow-y: scroll;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-weight: 300;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  align-items: center;
  justify-content: center;

  background: #f6f8ff;

  display: flex;
}

a:hover,
a:active{
  color: #5c6bc2;
}

a:focus,
a:visited{
  color: #b7b8b9;
}

.hiragana-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.hiragana-symbol div {
  font-size: 15rem;
  line-height: 15rem;
  color: #5c6bc2;
  text-align: center;
  font-family: sans-serif;
}

.hiragana-symbol .input {
  font-size: 3rem;
  border: 0;
  height: 3rem;
  padding: 0;
  outline: none;
  -webkit-appearance: none;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  text-align: center;
  padding-bottom: 10px;
  width: auto;
  font-weight: 300;
  color: #000;
}

p {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.85rem;
  padding-top: 4rem;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

p.test-skills {
  margin-top: -5rem;
  margin-bottom: 4rem;
}

.sc {
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  display: block;
  color: #000;
}

.score, .iconscore {
  position: fixed;
  left: 20px;
  bottom: 12px;
  color: #b7b8b9;
  letter-spacing: 0.2rem;
  font-weight: 400;
  padding-bottom: 8px;
}

.iconscore{
  left: 105px;
  bottom: 30px;
}

.iconkeyboard{
  padding-top: 30px;
  color: #868686;
}

.author{
  margin-bottom: 0.5rem;
  text-decoration: none;

  position: fixed;
  right: 40px;
  bottom: 12px;
  color: #b7b8b9;
  font-weight: 400;
}

.iconface{
  position: inherit;
  right: 10px;
  bottom: 16px;
}

.score .total {
  color: #5c6bc2;
}

.twitter-share {
  text-decoration: none;
}

.fa-twitter{
  color: #5c6bc2;
}

.twitter-share span {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #f6f8ff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.85rem;
  margin-left: 0.25rem;
}

.twitter-share:hover span {
  color: #5c6bc2;
}

.help,
.iconhelp {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #b7b8b9;
  text-decoration: none;
  z-index: 5;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.85rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.iconhelp {
  right: 60px;
  top: 13px;
  font-size: 25px !important;
}

.help:hover, .help:hover span{
  color: #5c6bc2 !important;
}

.author:hover, .author:hover span{
  color: #5c6bc2 !important;
}

.checkbox {
  border: 1px solid #5c6bc2;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  float: left;
}

.checkbox:checked {
  border-color: #5c6bc2;
  color: #5c6bc2;
  background-color: #5c6bc2;
}

.checkbox, .checkbox label {
  float: left;
  margin-left: 5px;
  margin-top: 6px;
  color: #b7b8b9;
}

.checkbox:checked, .checkbox:checked label {
  color: #5c6bc2;
}

label {
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  display: block;
  color: #000;
  text-transform: uppercase;
}

input {
  outline: none;
}

.check {
  position: absolute;
  z-index: 999;
  left: 20px;
  top: 20px;
}

.check:before,
.check:after {
  content: ' ';
  display: table;
}

.check:after {
  clear: both;
}

.submit{
  display: none;
}

.forms{
  padding-top: 20px;
}

.hidden{
  opacity: 0;
}