@media only screen and (max-width: 900px) {
    html {
        font-size: 14px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        zoom: 90%;
    }

    .check{
      display: none;
    }

    .author{
      display: none;
    }

    .git{
      display: none;
    }

    .score, .iconscore {
      text-align: center;
      color: #b7b8b9;
      letter-spacing: 0.2rem;
      font-weight: 400;
      position: absolute;
      top: 75%;
      left: 50%;
      text-align: center;
      align-items: center;
    }

    .sc {
      font-weight: 500;
      font-size: 0.75rem;
      letter-spacing: 0.1rem;
      margin-bottom: 0.5rem;
      display: block;
      color: #000;

      align-items: center;
      text-align: center;
    }
    
    .iconscore{
      display: none;
    }

    .twitter-share{
      display: none;
    }

    .help {
      display: none;
    }
}
