#notification {
    position: fixed;
    bottom: 30%;
    z-index: 99999;
}

.toast {
    /*A0ABB6*/
    background-color: #ffffff;
    border-radius: 15px;

    color: #000;

    text-align: center;
    font-size: 1.2em;

    padding: 2rem;
    padding-bottom: 2.2rem;

    /* margin: 1rem;
    margin-bottom: 0.2rem; */

    min-height: 10px;
    max-height: 15px;

    min-width: 350px;
    max-width: 350px;
}

.toast span{
    color: #D56062;
}