#notification {
    position: fixed;
    bottom: 50%;
    z-index: 99999;
}

.toast {
    background-color: #99a7f1;
    border-radius: 15px;
    color: #fff;
    padding: 2rem;
    margin: 1rem;

    text-align: center;
}

.toast span{
    color: rgb(182, 255, 87);
}